/************/
/* ELEMENTs */
/************/


/********/
/* DIVs */
/********/

.heading {
}

.subheader {
  color: black;
  font-weight: 300;
  margin-bottom: 1%;
}

.button
  .round {
    border-radius: 15px;
}

.gif-choice {
}

.search-div {
}

.form { 
}

.search-btn {
  padding: 8px;
}

.gif-title {
}

.gifs {
}

.card {
  height: 100%; /* remove to same height cards */
}

.hr {
}

.favorites {
}

.favorite-gifs{
}

/********/
/* IDs  */
/********/
#header {
  margin-top: 2%;
}

#favorites-title {
}

#credits {
  font-size: 12px;
  margin: 20px 0 10px 0;
}