/************/
/*   VARS   */
/************/
:root {
  --head : 'Corben', cursive;
  --sub : 'Montserrat', sans-serif;
}

/************/
/* ELEMENTS */
/************/

a {
  color: black;
}

/***********/
/* CLASSES */
/***********/

.gif-title {
  font-variant: all-small-caps;
  font-weight: 500;
}

.toggle-favs {
  margin: 0 10px;
}

.heading {
  margin-top: 2%;
}

.subheader {
  color: black;
  font-weight: 300;
  margin-bottom: 1%;
}

.topic-title {
  font-size: 26px;
  font-family: var(--sub);
  font-weight: 500;
}

.button-div, .footer {
  flex-shrink: 0;
  margin-bottom: 10px;
}

.gif-title, .rating, .main {
  flex: 1 0 auto;
}

.favorites-title {
  font-family: var(--sub);
  font-weight: 300;
}

#link {
  color: black;
  font-weight: 600;
}
#link:hover {
  transition: .25s;
  background-color: black;
  color: white;
}

/*********/
/*  IDS  */
/*********/
#header {
  font-family: var(--head);
}

#credits {
  font-size: 12px;
  margin: 20px 0 10px 0;
}